*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
table{
    border-color:rgb(63, 185, 223);
    empty-cells: hide;
    background-color: rgb(63, 185, 223);
    box-sizing: border-box;
    border-collapse: separate;

}
input{
    border: thin solid ;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    padding: 0px 30px;
}
#row{  
    box-sizing: border-box;
    background-color: white;
    transform: scale(1);
    width: 250px;
    height: 150px;
    border: 20px groove ;
    border-image: url();
}
button{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    transform: translate(14px);

}

p{
    height: 50%;

}
input::placeholder{
    font-size: 20px;
}


body{
    padding: 100px 0px;
}
marquee{
    font-size: 50px;
    width: 400px;
}